# Packages
node_modules/
yarn.lock

# Log files
logs/
*.log

# Authentication
deploy/

# Miscellaneous
.dependabot/
.github/
.tmp/
.vscode/
coverage/
docs/
scripts/
static/
test/

# Config files
.eslintrc.json
.gitattributes
.gitignore
codecov.yml
tsconfig.json
webpack.config.js
