name: Lint source code
on:
  push:
    branches:
      - "*"
      - "!docs"
    paths:
      - "src/**"
      - ".github/workflows/eslint.yml"

jobs:
  tslint:
    name: Lint source code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Node v12
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: Install dependencies
        run: npm install

      - name: Run ESLint
        run: npm run eslint:fix

      - name: Commit changes
        uses: EndBug/add-and-commit@v4
        with:
          add: src
          message: "[auto] Lint source code"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
