name: Release
on:
  release:
    types: [published]

permissions:
  # See http://docs.npmjs.com/trusted-publishers
  id-token: write
  contents: read

jobs:
  tag:
    name: Add/update 'latest' tag
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Run latest-tag
        uses: EndBug/latest-tag@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  docs:
    name: Update docs
    runs-on: ubuntu-latest
    needs: tag

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 18
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Build documentation
        run: npm run docs

      - name: Deploy documentation
        uses: dbots-pkg/action-docs@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish-npm:
    name: Publish on NPM
    runs-on: ubuntu-latest
    needs: docs

    steps:
      - uses: actions/checkout@v5

      - name: Set up Node.js for NPM
        uses: actions/setup-node@v6
        with:
          node-version: 18
          registry-url: 'https://registry.npmjs.org'

      - run: npm ci
      - run: npm publish

  publish-gpr:
    name: Publish on GPR
    runs-on: ubuntu-latest
    needs: docs

    steps:
      - uses: actions/checkout@v5

      - name: Set up Node.js for GPR
        uses: actions/setup-node@v6
        with:
          node-version: 18
          registry-url: 'https://npm.pkg.github.com/'
          scope: '@dbots-pkg'

      - run: npm ci
      - run: npm run gpr
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
